fastapi
uvicorn[standard]
openai>=1.30.0
pinecone           # HTTP (default)
# or, for faster IO over gRPC:
# pinecone[grpc]

supabase
python-ulid
pydantic
python-dotenv
pypdf
supabase>=2.4.0
postgrest>=0.11.0
python-docx>=1.1.0
simhash>=2.1.2
